.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#string-container {
    margin-top: 50px;
}

#string {
    width: 300px;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}